{% extends '@EasyAdminBundle/crud/index.html.twig' %}

{% block main %}
    {% set crudAddons = adminAddonsContext().crudAddonds %}

    {% if crudAddons.renderTablesInCard %}
        <div class="card">
            <div class="card-body">
                {{ parent() }}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock main %}
