{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% set ea = ea() %}
{% trans_default_domain ea.i18n.translationDomain %}

<div data-controller="embedded-crud-index">
    {{ block('main', ea.templatePath('crud/index')) }}
</div>
