.alert {
    border-width: var(--border-width);
}

.alert-dismissible {
    .btn-close {
        inset-block-start: 0;
        inset-inline-end: 0;
    }
}

.alerts-wrapper {
    .alert {
        border-radius: var(--border-radius)
    }
}
