.datagrid thead .form-check .form-batch-checkbox-all {
    margin-left: 3px;
}

.datagrid tbody {
    box-shadow: none;
}

.datagrid thead tr:first-child th:first-child {
    border-top-left-radius: calc(var(--border-radius) * 2);
}
.datagrid thead tr:first-child th:last-child {
    border-top-right-radius: calc(var(--border-radius) * 2);
}
.datagrid tbody tr:last-child td:first-child {
    border-bottom-left-radius: calc(var(--border-radius) * 2);
}
.datagrid tbody tr:last-child td:last-child {
    border-bottom-right-radius: calc(var(--border-radius) * 2);
}

.datagrid td {
    padding: .75rem .75rem;
}

[data-bs-theme="dark"] {
    .datagrid thead .sorted {
        box-shadow: inset 0 -2px 0 var(--color-override-primary);
    }
}
