.secret-text-field-container {
    padding-right: 10px;
}
.secret-text-field-container .secret-text-field-btn-view {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.secret-text-field-container .secret-text-field-content {
    padding-top: 10px;
}
